html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

#map-canvas-container { 
	height: 100% ;
	width: 80%;
}

#map-canvas { 
	height: 100% ;
	width: 100%;
}

#map-details {
	position:absolute;
	height: 100% ;
//	width: 20%;
	top: 0px;
//	bottom: 0px;
	left: 80%;
	right: 0px;
//	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
//	margin-bottom: 0px;
}

.info-page img 
{
float:left;
margin-right: 15px;
}

.info-page {
	padding: 15px;	
}

.content {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:34px;
	padding: 0px;
}

.ui-btn-text {
	color:#FFFFFF;
}
.ui-collapsible-heading-toggle {
	text-decoration: none;
}

.ui-mobile .ui-page .ui-content .ui-collapsible .ui-collapsible-heading .ui-btn-text {
    white-space : normal;
}​